{% extends 'flatpages/default.html' %}


{% block title %}
Search
{% endblock %}

{% block content %}
<form method="GET">
    {{ filter.form }}
    <input type="submit" value="Найти">

</form>

<table>
    <thead>
        <th>
         Дата
        </th>
        <th>
         Название статьи
        </th>
        <th>
         Имя пользователя автора
        </th>
        <th>
         По всему
        </th>
    </thead>
    {% for news in filter.qs %} <!-- поменяем products на filter.qs, т.к. теперь мы забираем уже отобранную по каким-то параметрам информацию -->
    <tr>
        <td>
            {{ news.timeCreate| date:'d M Y H:m' }}
        </td>
        <td>
            {{ news.heading|title }}
        </td>
        <td>
            {{ news.author.user}}
        </td>
        <td>
            {{ news.Post }}
        </td>
    </tr>
    {% endfor %}
</table>

<form method="POST">
    {% csrf_token %}
    <label for="name">Name</label>
    <input name="name" type="text">
    <label for="heading"> Heading</label>
    <input name="heading" type="text">
    <!-- Здесь будет список категорий. --> 
    <select name="postCategory" size="4">
        {% for category in categories %} 
        <option value="{{ category.id }}"> {{ category.name }} </option> 
        {% endfor %} 
    </select> <input type="submit" value="Добавить статью"> </form>

{% endblock content %}